--
-- PostgreSQL database cluster dump
--

\restrict Eh3HxqZxh1M2d5xWj04ZIqpgzSoaQEkvkGiKMcZ8e7L6Kks8HERSvOvxnmVjtnu

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE pcos_user;
ALTER ROLE pcos_user WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:y6FdWLWwAusgRmMQCqGaKg==$YXWo2GvfM+afS3kiflIB+MLgSgoW03xnWyvgj9pikHg=:9DGP0q0Og3rgzGli7ick9W70nM7NzyHx5DkNvFarVvQ=';

--
-- User Configurations
--








\unrestrict Eh3HxqZxh1M2d5xWj04ZIqpgzSoaQEkvkGiKMcZ8e7L6Kks8HERSvOvxnmVjtnu

--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

\restrict lOCpYNftZ60FSAxq8WrdHhWEPPYorv8Hzf0sCoHUif4eL2dWY4hOuTBRzvZ1VpY

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict lOCpYNftZ60FSAxq8WrdHhWEPPYorv8Hzf0sCoHUif4eL2dWY4hOuTBRzvZ1VpY

--
-- Database "pcos_db" dump
--

--
-- PostgreSQL database dump
--

\restrict cUrYtWy72mSg9epr5hzDOv3J5L8Uq8vzP90E33puYauB0LHJWXE5BDerUCwGGPK

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pcos_db; Type: DATABASE; Schema: -; Owner: pcos_user
--

CREATE DATABASE pcos_db WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE pcos_db OWNER TO pcos_user;

\unrestrict cUrYtWy72mSg9epr5hzDOv3J5L8Uq8vzP90E33puYauB0LHJWXE5BDerUCwGGPK
\connect pcos_db
\restrict cUrYtWy72mSg9epr5hzDOv3J5L8Uq8vzP90E33puYauB0LHJWXE5BDerUCwGGPK

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: pcos_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO pcos_user;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: pcos_user
--

COMMENT ON SCHEMA public IS '';


--
-- Name: AppointmentStatus; Type: TYPE; Schema: public; Owner: pcos_user
--

CREATE TYPE public."AppointmentStatus" AS ENUM (
    'PENDING',
    'CONFIRMED',
    'CANCELLED',
    'COMPLETED'
);


ALTER TYPE public."AppointmentStatus" OWNER TO pcos_user;

--
-- Name: ContentCategory; Type: TYPE; Schema: public; Owner: pcos_user
--

CREATE TYPE public."ContentCategory" AS ENUM (
    'PCOS_BASICS',
    'NUTRITION',
    'EXERCISE',
    'MENTAL_HEALTH',
    'TREATMENT',
    'LIFESTYLE'
);


ALTER TYPE public."ContentCategory" OWNER TO pcos_user;

--
-- Name: FlowType; Type: TYPE; Schema: public; Owner: pcos_user
--

CREATE TYPE public."FlowType" AS ENUM (
    'LIGHT',
    'MEDIUM',
    'HEAVY'
);


ALTER TYPE public."FlowType" OWNER TO pcos_user;

--
-- Name: MealType; Type: TYPE; Schema: public; Owner: pcos_user
--

CREATE TYPE public."MealType" AS ENUM (
    'BREAKFAST',
    'LUNCH',
    'DINNER',
    'SNACK'
);


ALTER TYPE public."MealType" OWNER TO pcos_user;

--
-- Name: MoodType; Type: TYPE; Schema: public; Owner: pcos_user
--

CREATE TYPE public."MoodType" AS ENUM (
    'HAPPY',
    'NEUTRAL',
    'SAD',
    'IRRITABLE',
    'TIRED'
);


ALTER TYPE public."MoodType" OWNER TO pcos_user;

--
-- Name: RiskCategory; Type: TYPE; Schema: public; Owner: pcos_user
--

CREATE TYPE public."RiskCategory" AS ENUM (
    'HIGH_RISK',
    'LOW_RISK',
    'GENERAL'
);


ALTER TYPE public."RiskCategory" OWNER TO pcos_user;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: pcos_user
--

CREATE TYPE public."Role" AS ENUM (
    'USER',
    'ADMIN',
    'DOCTOR'
);


ALTER TYPE public."Role" OWNER TO pcos_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Appointment; Type: TABLE; Schema: public; Owner: pcos_user
--

CREATE TABLE public."Appointment" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "doctorId" text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    "timeSlot" text NOT NULL,
    reason text,
    "reportFile" text,
    status public."AppointmentStatus" DEFAULT 'PENDING'::public."AppointmentStatus" NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "consultationNotes" text,
    diagnosis text,
    prescription text,
    "predictionId" text
);


ALTER TABLE public."Appointment" OWNER TO pcos_user;

--
-- Name: CycleLog; Type: TABLE; Schema: public; Owner: pcos_user
--

CREATE TABLE public."CycleLog" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone NOT NULL,
    "periodLength" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."CycleLog" OWNER TO pcos_user;

--
-- Name: DailyLog; Type: TABLE; Schema: public; Owner: pcos_user
--

CREATE TABLE public."DailyLog" (
    id text NOT NULL,
    "userId" text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    "isPeriod" boolean DEFAULT false NOT NULL,
    flow public."FlowType",
    mood public."MoodType",
    energy integer,
    symptoms text[],
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."DailyLog" OWNER TO pcos_user;

--
-- Name: Doctor; Type: TABLE; Schema: public; Owner: pcos_user
--

CREATE TABLE public."Doctor" (
    id text NOT NULL,
    name text NOT NULL,
    specialization text NOT NULL,
    qualification text NOT NULL,
    experience integer NOT NULL,
    hospital text NOT NULL,
    location text NOT NULL,
    phone text NOT NULL,
    email text NOT NULL,
    bio text,
    "imageUrl" text,
    "availableDays" text[],
    "timeSlots" text[],
    "consultFee" double precision NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Doctor" OWNER TO pcos_user;

--
-- Name: EducationalContent; Type: TABLE; Schema: public; Owner: pcos_user
--

CREATE TABLE public."EducationalContent" (
    id text NOT NULL,
    title text NOT NULL,
    content text NOT NULL,
    category public."ContentCategory" NOT NULL,
    "imageUrl" text,
    tags text[],
    "isPublished" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."EducationalContent" OWNER TO pcos_user;

--
-- Name: Meal; Type: TABLE; Schema: public; Owner: pcos_user
--

CREATE TABLE public."Meal" (
    id text NOT NULL,
    name text NOT NULL,
    description text NOT NULL,
    "whyItHelps" text NOT NULL,
    ingredients text[],
    recipe text[],
    "mealType" public."MealType" NOT NULL,
    "riskCategory" public."RiskCategory" NOT NULL,
    "isVeg" boolean DEFAULT false NOT NULL,
    calories integer,
    carbs integer,
    "prepTime" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Meal" OWNER TO pcos_user;

--
-- Name: MealPlan; Type: TABLE; Schema: public; Owner: pcos_user
--

CREATE TABLE public."MealPlan" (
    id text NOT NULL,
    "userId" text,
    "riskCategory" public."RiskCategory" NOT NULL,
    "weekNumber" integer DEFAULT 1 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."MealPlan" OWNER TO pcos_user;

--
-- Name: MealPlanDay; Type: TABLE; Schema: public; Owner: pcos_user
--

CREATE TABLE public."MealPlanDay" (
    id text NOT NULL,
    "mealPlanId" text NOT NULL,
    "dayNumber" integer NOT NULL,
    "breakfastId" text,
    "lunchId" text,
    "dinnerId" text,
    "snackId" text
);


ALTER TABLE public."MealPlanDay" OWNER TO pcos_user;

--
-- Name: Prediction; Type: TABLE; Schema: public; Owner: pcos_user
--

CREATE TABLE public."Prediction" (
    id text NOT NULL,
    "userId" text NOT NULL,
    age double precision NOT NULL,
    weight double precision NOT NULL,
    height double precision NOT NULL,
    bmi double precision NOT NULL,
    "bloodGroup" text NOT NULL,
    "cycleLengthDays" double precision NOT NULL,
    "periodLengthDays" double precision NOT NULL,
    "regularOvulation" boolean NOT NULL,
    "fshLevel" double precision NOT NULL,
    "lhLevel" double precision NOT NULL,
    "androgenLevel" double precision NOT NULL,
    "cystCount" double precision NOT NULL,
    hirsutism boolean NOT NULL,
    "fastingGlucose" double precision NOT NULL,
    "activityLevel" integer NOT NULL,
    "stressLevel" integer NOT NULL,
    pregnant boolean NOT NULL,
    prediction integer NOT NULL,
    probability double precision NOT NULL,
    "riskLevel" text NOT NULL,
    confidence double precision NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Prediction" OWNER TO pcos_user;

--
-- Name: User; Type: TABLE; Schema: public; Owner: pcos_user
--

CREATE TABLE public."User" (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    role public."Role" DEFAULT 'USER'::public."Role" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "isVerified" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."User" OWNER TO pcos_user;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: pcos_user
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO pcos_user;

--
-- Data for Name: Appointment; Type: TABLE DATA; Schema: public; Owner: pcos_user
--

COPY public."Appointment" (id, "userId", "doctorId", date, "timeSlot", reason, "reportFile", status, notes, "createdAt", "updatedAt", "consultationNotes", diagnosis, prescription, "predictionId") FROM stdin;
78245832-9ea6-433a-91ad-f99fa0179460	0738cdd7-f848-4190-96c4-8b6642715aad	5a7062aa-e3ab-4e28-bcf1-aeb31291d4c1	2026-04-22 00:00:00	09:00 AM	Irregular period too much.	\N	PENDING	\N	2026-04-19 08:29:01.531	2026-04-19 08:29:01.531	\N	\N	\N	7fb5b5fb-0303-4ce6-b840-51ace8db5d73
\.


--
-- Data for Name: CycleLog; Type: TABLE DATA; Schema: public; Owner: pcos_user
--

COPY public."CycleLog" (id, "userId", "startDate", "endDate", "periodLength", "createdAt") FROM stdin;
\.


--
-- Data for Name: DailyLog; Type: TABLE DATA; Schema: public; Owner: pcos_user
--

COPY public."DailyLog" (id, "userId", date, "isPeriod", flow, mood, energy, symptoms, notes, "createdAt") FROM stdin;
\.


--
-- Data for Name: Doctor; Type: TABLE DATA; Schema: public; Owner: pcos_user
--



--
-- Data for Name: EducationalContent; Type: TABLE DATA; Schema: public; Owner: pcos_user
--



--
-- Data for Name: Meal; Type: TABLE DATA; Schema: public; Owner: pcos_user
--



--
-- Data for Name: MealPlan; Type: TABLE DATA; Schema: public; Owner: pcos_user
--

COPY public."MealPlan" (id, "userId", "riskCategory", "weekNumber", "isActive", "createdAt", "updatedAt") FROM stdin;
a9ceee60-cb7b-4681-a693-db14496728e9	\N	HIGH_RISK	1	t	2026-04-19 07:53:35.416	2026-04-19 07:53:35.416
3a6e0f30-b121-4e44-a1ce-b1ce25ee36fc	\N	LOW_RISK	1	t	2026-04-19 07:53:35.645	2026-04-19 07:53:35.645
d809762d-678c-45d9-8d4e-9127fe48cc2e	\N	GENERAL	1	t	2026-04-19 07:53:35.852	2026-04-19 07:53:35.852
ce8b826a-9c8a-42e1-ab62-c339dcf23c3f	0738cdd7-f848-4190-96c4-8b6642715aad	LOW_RISK	1	t	2026-04-19 09:45:23.814	2026-04-19 09:45:23.814
\.


--
-- Data for Name: MealPlanDay; Type: TABLE DATA; Schema: public; Owner: pcos_user
--



--
-- Data for Name: Prediction; Type: TABLE DATA; Schema: public; Owner: pcos_user
--

COPY public."Prediction" (id, "userId", age, weight, height, bmi, "bloodGroup", "cycleLengthDays", "periodLengthDays", "regularOvulation", "fshLevel", "lhLevel", "androgenLevel", "cystCount", hirsutism, "fastingGlucose", "activityLevel", "stressLevel", pregnant, prediction, probability, "riskLevel", confidence, "createdAt") FROM stdin;
7fb5b5fb-0303-4ce6-b840-51ace8db5d73	0738cdd7-f848-4190-96c4-8b6642715aad	20	60	160	23.4	A negative	40	2	f	7.5	3.2	65	5	t	95	4	2	f	0	0.4633	Low Risk	46.33	2026-04-19 08:23:33.391
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: pcos_user
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: pcos_user
--



--
-- Name: Appointment Appointment_pkey; Type: CONSTRAINT; Schema: public; Owner: pcos_user
--

ALTER TABLE ONLY public."Appointment"
    ADD CONSTRAINT "Appointment_pkey" PRIMARY KEY (id);


--
-- Name: CycleLog CycleLog_pkey; Type: CONSTRAINT; Schema: public; Owner: pcos_user
--

ALTER TABLE ONLY public."CycleLog"
    ADD CONSTRAINT "CycleLog_pkey" PRIMARY KEY (id);


--
-- Name: DailyLog DailyLog_pkey; Type: CONSTRAINT; Schema: public; Owner: pcos_user
--

ALTER TABLE ONLY public."DailyLog"
    ADD CONSTRAINT "DailyLog_pkey" PRIMARY KEY (id);


--
-- Name: Doctor Doctor_pkey; Type: CONSTRAINT; Schema: public; Owner: pcos_user
--

ALTER TABLE ONLY public."Doctor"
    ADD CONSTRAINT "Doctor_pkey" PRIMARY KEY (id);


--
-- Name: EducationalContent EducationalContent_pkey; Type: CONSTRAINT; Schema: public; Owner: pcos_user
--

ALTER TABLE ONLY public."EducationalContent"
    ADD CONSTRAINT "EducationalContent_pkey" PRIMARY KEY (id);


--
-- Name: MealPlanDay MealPlanDay_pkey; Type: CONSTRAINT; Schema: public; Owner: pcos_user
--

ALTER TABLE ONLY public."MealPlanDay"
    ADD CONSTRAINT "MealPlanDay_pkey" PRIMARY KEY (id);


--
-- Name: MealPlan MealPlan_pkey; Type: CONSTRAINT; Schema: public; Owner: pcos_user
--

ALTER TABLE ONLY public."MealPlan"
    ADD CONSTRAINT "MealPlan_pkey" PRIMARY KEY (id);


--
-- Name: Meal Meal_pkey; Type: CONSTRAINT; Schema: public; Owner: pcos_user
--

ALTER TABLE ONLY public."Meal"
    ADD CONSTRAINT "Meal_pkey" PRIMARY KEY (id);


--
-- Name: Prediction Prediction_pkey; Type: CONSTRAINT; Schema: public; Owner: pcos_user
--

ALTER TABLE ONLY public."Prediction"
    ADD CONSTRAINT "Prediction_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: pcos_user
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: pcos_user
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Appointment_doctorId_idx; Type: INDEX; Schema: public; Owner: pcos_user
--

CREATE INDEX "Appointment_doctorId_idx" ON public."Appointment" USING btree ("doctorId");


--
-- Name: Appointment_userId_idx; Type: INDEX; Schema: public; Owner: pcos_user
--

CREATE INDEX "Appointment_userId_idx" ON public."Appointment" USING btree ("userId");


--
-- Name: CycleLog_userId_idx; Type: INDEX; Schema: public; Owner: pcos_user
--

CREATE INDEX "CycleLog_userId_idx" ON public."CycleLog" USING btree ("userId");


--
-- Name: DailyLog_userId_date_key; Type: INDEX; Schema: public; Owner: pcos_user
--

CREATE UNIQUE INDEX "DailyLog_userId_date_key" ON public."DailyLog" USING btree ("userId", date);


--
-- Name: DailyLog_userId_idx; Type: INDEX; Schema: public; Owner: pcos_user
--

CREATE INDEX "DailyLog_userId_idx" ON public."DailyLog" USING btree ("userId");


--
-- Name: Doctor_email_key; Type: INDEX; Schema: public; Owner: pcos_user
--

CREATE UNIQUE INDEX "Doctor_email_key" ON public."Doctor" USING btree (email);


--
-- Name: MealPlanDay_mealPlanId_idx; Type: INDEX; Schema: public; Owner: pcos_user
--

CREATE INDEX "MealPlanDay_mealPlanId_idx" ON public."MealPlanDay" USING btree ("mealPlanId");


--
-- Name: MealPlan_userId_idx; Type: INDEX; Schema: public; Owner: pcos_user
--

CREATE INDEX "MealPlan_userId_idx" ON public."MealPlan" USING btree ("userId");


--
-- Name: Prediction_userId_idx; Type: INDEX; Schema: public; Owner: pcos_user
--

CREATE INDEX "Prediction_userId_idx" ON public."Prediction" USING btree ("userId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: pcos_user
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: Appointment Appointment_doctorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pcos_user
--

ALTER TABLE ONLY public."Appointment"
    ADD CONSTRAINT "Appointment_doctorId_fkey" FOREIGN KEY ("doctorId") REFERENCES public."Doctor"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Appointment Appointment_predictionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pcos_user
--

ALTER TABLE ONLY public."Appointment"
    ADD CONSTRAINT "Appointment_predictionId_fkey" FOREIGN KEY ("predictionId") REFERENCES public."Prediction"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Appointment Appointment_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pcos_user
--

ALTER TABLE ONLY public."Appointment"
    ADD CONSTRAINT "Appointment_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: CycleLog CycleLog_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pcos_user
--

ALTER TABLE ONLY public."CycleLog"
    ADD CONSTRAINT "CycleLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: DailyLog DailyLog_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pcos_user
--

ALTER TABLE ONLY public."DailyLog"
    ADD CONSTRAINT "DailyLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: MealPlanDay MealPlanDay_breakfastId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pcos_user
--

ALTER TABLE ONLY public."MealPlanDay"
    ADD CONSTRAINT "MealPlanDay_breakfastId_fkey" FOREIGN KEY ("breakfastId") REFERENCES public."Meal"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: MealPlanDay MealPlanDay_dinnerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pcos_user
--

ALTER TABLE ONLY public."MealPlanDay"
    ADD CONSTRAINT "MealPlanDay_dinnerId_fkey" FOREIGN KEY ("dinnerId") REFERENCES public."Meal"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: MealPlanDay MealPlanDay_lunchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pcos_user
--

ALTER TABLE ONLY public."MealPlanDay"
    ADD CONSTRAINT "MealPlanDay_lunchId_fkey" FOREIGN KEY ("lunchId") REFERENCES public."Meal"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: MealPlanDay MealPlanDay_mealPlanId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pcos_user
--

ALTER TABLE ONLY public."MealPlanDay"
    ADD CONSTRAINT "MealPlanDay_mealPlanId_fkey" FOREIGN KEY ("mealPlanId") REFERENCES public."MealPlan"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: MealPlanDay MealPlanDay_snackId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pcos_user
--

ALTER TABLE ONLY public."MealPlanDay"
    ADD CONSTRAINT "MealPlanDay_snackId_fkey" FOREIGN KEY ("snackId") REFERENCES public."Meal"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: MealPlan MealPlan_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pcos_user
--

ALTER TABLE ONLY public."MealPlan"
    ADD CONSTRAINT "MealPlan_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Prediction Prediction_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pcos_user
--

ALTER TABLE ONLY public."Prediction"
    ADD CONSTRAINT "Prediction_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pcos_user
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict cUrYtWy72mSg9epr5hzDOv3J5L8Uq8vzP90E33puYauB0LHJWXE5BDerUCwGGPK

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

\restrict rSDb4d9Pgkd9bKPMzY7drDzV2PnfaCA58mlczJsl3kx5Chguz7YBxIWwqDDsajI

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict rSDb4d9Pgkd9bKPMzY7drDzV2PnfaCA58mlczJsl3kx5Chguz7YBxIWwqDDsajI

--
-- PostgreSQL database cluster dump complete
--

